<div class="panel-heading">
  <h2>User Settings</h2>
</div>


<div class="card pull-left no-padding margin-x-sm">
  <div class="card-body">
    <div class="card-title">Info</div>
    <div class="panel-body">
      <div class="no-padding">
        <div class="pull-left margin-right-10">
          <b>First Name:</b>
        </div>
        <div class="pull-left margin-right-10">
          {{user.first_name}}
        </div>
      </div>
      <div class="no-padding">
        <div class="pull-left margin-right-10">
          <b>Last Name:</b>
        </div>
        <div class="pull-left margin-right-10">
          {{user.second_name}}
        </div>
      </div>
      <div class="no-padding">
        <div class="pull-left margin-right-10">
          <b>User Name:</b>
        </div>
        <div class="pull-left margin-right-10">
          {{user.user_name}}
        </div>
      </div>
      <div class="no-padding">
        <div class="pull-left margin-right-10">
          <b>Email:</b>
        </div>
        <div class="pull-left margin-right-10">
          {{user.email}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card pull-left no-padding margin-x-sm">
  <div class="card-body">
    <div class="card-title">Dashboard Notifications</div>
    <div class="panel-body">
      <div>
        <div class="margin-y-sm ma-notifications">
          <mat-slide-toggle [(ngModel)]="user.audit_notifications"
          (ngModelChange)="updateUser()">Audit Notifications</mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!user.ldap_user" class="card col-lg-3 no-padding margin-x-sm">
  <div class="card-body">
    <div class="card-title">Change Password</div>
    <div class="panel-body">
      <div class="col-sm-12 form-row">
        <label class="col-sm-6 control-label label-inline" for="oldpass">Old Password</label>
        <div class="col-sm-6">
          <input class="form-control input-sm" id="oldpass" name="oldpass" type="password" maxlenght="150"
            [(ngModel)]="oldPass" />
        </div>
      </div>

      <div class="col-sm-12 form-row"
        [ngClass]="{ 'has-error': !IsConfirmValide() || !IsNewPasswordValide() }">
        <label class="col-sm-6 control-label label-inline" for="password">Password</label>
        <div class="col-sm-6">
          <input class="form-control input-sm" id="password" name="password" type="password" maxlenght="150"
            [(ngModel)]="newPass" />
          <span *ngIf="!IsNewPasswordValide()" class="help-block">Password must be at least 6 characters</span>
        </div>
      </div>

      <div class="col-sm-12 form-row" [ngClass]="{ 'has-error': !IsConfirmValide() }">
        <label class="col-sm-6 control-label label-inline" for="passc">Confirm Password</label>
        <div class="col-sm-6">
          <input class="form-control input-sm" id="passc" name="passc" type="password" maxlenght="150"
            [(ngModel)]="confirmPass" />
          <span *ngIf="!IsConfirmValide()" class="help-block">Password does not match the Confirm Password</span>
        </div>
      </div>

      <div class="col-sm-12 form-row">
        <button class="btn btn-primary center-block" [disabled]="!IsPasswordFormValide()" type="button"
          (click)="updatePassword()">Change</button>
      </div>
    </div>
  </div>
</div>