<div>
    <label *ngIf="!isModelExists()" [for]="name">Add</label>
    <label *ngIf="isModelExists() && isModelImage()" (click)="toggleShow()">Show | </label>
    <label *ngIf="isModelExists() && !isModelImage()" (click)="download()">Download | </label>
    <label *ngIf="isModelExists()" [for]="name">Change | </label>
    <label *ngIf="isModelExists()" (click)="remove()">Remove</label>
    <input type="file" [id]="name" (change)="handleFileInput($event.target.files)" accept=".jpg, .jpeg, .png">
</div>

<div [hidden]="!showPreview || !isModelExists()" class="overlay img-modal-overlay" (click)="toggleShow()">
    <fa-icon class="close" [icon]="faTimes"></fa-icon>
    <img class="modal-content" [src]="model">
</div>