<div class="panel-heading page">
  <div class="row clearfix">
    <div class="pull-left">
      <h2>Customer Info - {{customer?.name}}</h2>
    </div>
  </div>
</div>
<div class="col-md-12 container" *ngIf="customer">
  <div class="left-side clearfix">
    <div class="inline info-panel card">
      <div class="card-body">

        <div class="card-title">Customer
          <div class="btn-group pull-right">
            <button *ngIf="canEdit" class="btn btn-success btn-sm panel-button" (click)="updateCustomer()"
              [disabled]="!IsFormValid()">Save</button>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-6 col-label">
            <label for="name" class="label-inline">Name:</label>
          </div>
          <div class="col-sm-6 col-field no-padding">
            <inline-editor [disabled]="!canEdit" maxlength="150" [name]="name"
              minlength="3" placeholder="Name" trim="blur" [(ngModel)]="customer.name" [required]="true">
            </inline-editor>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-6 col-label">
            <label for="coordinator" class="label-inline">Unit Coordinator:</label>
          </div>
          <div class="col-sm-6 col-field no-padding" [ngClass]="{'ci-label-inline': !canEdit}">
            <lookup-autocomplete [disabled]="!canEdit" id="coordinator" name="coordinator" *ngIf="coordinators"
              [allowEmptyValue]="false" [propertiesToShow]="['first_name', 'second_name']" [array]="coordinators"
              [(model)]="customer.coordinator" placeholder="Unit Coordinator"></lookup-autocomplete>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="right-side no-padding clearfix">
    <table-filter *ngIf="customer" [data]="customer.projects" [columns]="columns" [defaultSortBy]="defSort"
      [queryParams]="true" (rowClick)="rowClicked($event)" (dataChange)="updateProj($event)" rowsOnPage="10"
      [allowCreate]="allowCreate" (action)="handleAction($event)"></table-filter>
  </div>
</div>