<div [hidden]="isHidden" class="overlay mt-overlay">
    <div class="simple-modal panel" [ngClass]="{
        'panel-warning':type=='warning',
        'panel-danger':type=='error',
        'panel-info':type=='info',
        'panel-success':type=='success',
        'panel-primary':type==''
    }">
        <div class="panel-heading col-sm-12">
            <h4 class="panel-title pull-left">{{title}}</h4>
            <span (click)="hideModal()" class="glyphicon glyphicon-remove clickable-element pull-right" aria-hidden="true"></span>
        </div>
        <div class="panel-body">
            <div class="col-sm-12 modal-message">
                <div class="col-sm-6 me-padding-left-3">Do not Send:</div>
                <div class="col-sm-6">Send To:</div>
                <div class="no-padding clearfix me-drop-parent pull-left">
                    <ul class="col-sm-12 no-padding me-droppable" [dragula]="'notification-bag'" [dragulaModel]='excludedUsers'>
                        <li class="me-draggable" *ngFor="let exuser of excludedUsers">{{exuser.user.user_name}}</li>
                    </ul>
                </div>
                <div class="no-padding clearfix me-drop-parent pull-right">
                    <ul class="col-sm-12 no-padding me-droppable" [dragula]="'notification-bag'" [dragulaModel]='includedUsers'>
                        <li class="me-draggable" *ngFor="let user of includedUsers">{{user.user.user_name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 modal-buttons">
                <div class="modal-buttons-form">
                    <button autofocus (click)="sendEmail(button.execute)" class="btn btn-sm btn-default" *ngFor="let button of buttons">{{button.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>