<div [hidden]="isHidden" class="overlay mt-overlay modal fade" [ngClass]="{'show-modal': !this.isHidden}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">Do not Send:</div>
                    <div class="col-sm-6">Send To:</div>
                    <div class="col-sm-6  me-drop-parent">
                        <ul class="col-sm-12 bg-light no-padding me-droppable" [dragula]="'notification-bag'"
                            [(dragulaModel)]='excludedUsers'>
                            <li class="me-draggable" *ngFor="let exuser of excludedUsers">{{exuser.user.user_name}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 me-drop-parent">
                        <ul class="col-sm-12 bg-light no-padding me-droppable" [dragula]="'notification-bag'"
                            [(dragulaModel)]='includedUsers'>
                            <li class="me-draggable" *ngFor="let user of includedUsers">{{user.user.user_name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 modal-footer modal-buttons">
                    <div class="modal-buttons-form">
                        <button autofocus (click)="sendEmail(button.execute)" class="btn btn-sm" [ngClass]="{
                            'btn-secondary': !button.execute,
                            'btn-success': button.execute
                        }" *ngFor="let button of buttons">{{button.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>