<div *ngIf="testSuite" class="panel-heading">
  <app-modal *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'"
    [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="execute($event)"
    (closed)="wasClosed()"></app-modal>
  <move-test-modal *ngIf="!hideMoveModal" [title]="MoveModalTitle" [tests]="testSuite.tests"
    [buttons]="[{name:'Move', execute:true }, {name:'Cancel', execute:false}]" (execute)="moveToExecute($event)"
    (closed)="moveTowasClosed()"></move-test-modal>
  <suite-sync-modal *ngIf="syncTestsModal" [suites]="testSuites" (execute)="syncTests($event)"
    (closed)="syncSuiteClosed()" [suite]="selectedTestSuite"></suite-sync-modal>


  <div class="row">
    <div class="col-sm-4">
      <h2 class="pull-left" id="suite-view">Test Suite:</h2>
      <lookup-autocomplete id="page-label-lookup" class="pull-left page-label-lookup" [allowEmptyValue]="true"
        [propertiesToShow]="['name']" [array]="testSuites" [model]="selectedTestSuite" [disabled]="false"
        placeholder="All Tests" (modelChange)="suiteChange($event)"></lookup-autocomplete>
    </div>
    <div class="col-md-8">
      <div class="btn-group pull-right" role="group">
        <button class="btn btn-primary" routerLink="/project/{{testSuite.project_id}}/testrun/matrix"
          [queryParams]="{suite:testSuite.id}">Suite Matrix</button>
        <button [disabled]="!testSuite.tests" (click)="ExportToCSV()" class="btn btn-secondary">Export to CSV</button>
        <button (click)="openTestCreation()"
          *ngIf="allowCreation"
          class="btn btn-success">Add Test</button>
        <button id="sync-btn" (click)="syncSuite()"
          *ngIf="allowCreation"
          class="btn btn-warning">Sync</button>
        <button id="move-test-btn"
          *ngIf="allowMove"
          class="btn btn-warning" (click)="moveTestOpen()">Move Test</button>
      </div>
    </div>

    <hr class="col-sm-12 no-padding">

    <div class="col-sm-12 form-row">
      <div *ngIf="testSuite && testSuite.name" class="col-md-6">
        <label class="pull-left label-inline">Name: </label>
        <div class="pull-left">
          <inline-editor id="name" name="name" trim="blur" empty="not set" maxlenght="50" minlenght="4"
            [(ngModel)]="testSuite.name" (onSave)="updateSuite()"
            [disabled]="!allowEdit">
          </inline-editor>
        </div>
      </div>
      <div *ngIf="totalManualDuration" class="col-md-6">
        <label>Total Manual Duration:</label>
        <span id="totalManualDuration">  {{totalManualDuration | mask: '00:00:00'}}</span>
      </div>
      <div *ngIf="getLatestAutomationDuration()" class="col-md-6">
        <label>Latest Automation Duration:</label>
        <span id="latestAutomationDuration">{{getLatestAutomationDuration()}}</span>
      </div>
      <div class="col-md-6">
        <label>Total Tests:</label>
        <span id="testsNumber">{{testSuite?.tests?.length}}</span>
      </div>
    </div>
  </div>
</div>
<div class="panel-body">
  <table-filter id="test-table" *ngIf="tbCols && testSuite && testSuite.tests" #table [rowsOnPageSet]="[5,10,20]"
    [rowsOnPage]="20" [queryParams]="true" [data]="testSuite.tests" [columns]="tbCols"
    [defaultSortBy]="sortBy" [allowDelete]="allowEdit" [allowBulkUpdate]="allowEdit"
    (rowClick)="rowClicked($event)" (dataChange)="testUpdate($event)" (action)="handleAction($event)"
    (bulkChanges)="bulkUpdate($event)"></table-filter>
</div>