.label-element {
    display: block;
    margin-right: 5px; 
}

.label-element label{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.switch-element {
    width: 35px;
    height: 25px;
    display: inline-block;
}

.container-element {
    padding: 5px;
    width: 100%;
}