.loader {
    position: absolute;
    top: 45;
    bottom: 20;
    right: 0;
    left: 0;
    background: #06050557;
    z-index: 1000;
}

.loader-spinner {
    position: absolute;
    right: calc(50% - 64px);
    top: calc(50% - 128px);
}

.loader-spinner {
    animation: lds-hourglass 3s infinite;
}

@keyframes lds-hourglass {
    25% {
        transform-origin: 56.5px 137.5px;
        transform: rotate(0);
        animation-timing-function: ease;
    }
    75% {
        transform-origin: 56.5px 137.5px;
        transform: rotate(720deg);
        animation-timing-function: ease;
    }
    100% {
        transform-origin: 56.5px 137.5px;
        transform: rotate(720deg);
    }
}