<div class="container">
    <div class="row p-2">
        <form [formGroup]="addLinkForm" (ngSubmit)="addReference()">
            <div class="form-row">

                <div class="col-md-6 p-2">
                    <select id="select-int-system" formControlName="linkSystem"
                        class="form-control form-control-sm input-lg">
                        <option *ngFor="let system of systems" [ngValue]="system"
                            [attr.selected]="systems.length > 0 ? systems[0] : null">
                            {{system.name}}</option>
                    </select>
                    <i class="fa fa-caret-down"></i>
                </div>

                <div class="col-md-3 p-2">
                    <input id="link-key" formControlName="linkKey" type="text" trim="blur"
                        class="form-control form-control-sm" placeholder="linked issue key" required>
                </div>

                <div class="col-md-3 p-2">
                    <button id="add-link" type="submit" class="btn btn-primary btn-sm"
                        [disabled]="addLinkForm.invalid">Add</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="systems.length > 0" class="row p-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">System</th>
                    <th scope="col">Key</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reference of references; let number = index">
                    <th scope="row">{{number}}</th>
                    <td>{{getSystemName(reference)}}</td>
                    <td>{{reference.key}}</td>
                    <td>
                        <button id="delete-link" (click)="deleteReference(reference)"
                            class="btn btn-primary btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>