<div id="matrix-page" class="panel-body">
  <div class="row panel-padding">
    <div class="col-sm-12">
      <h2>
        Test Runs Matrix
      </h2>
    </div>
    <div class="col-sm-12">
      <hr>
    </div>
    <div class="col-sm-12 view-header-grid form-row">
      <div class="col-sm-2 form-group">
        <label>Suite*</label>
        <lookup-autocomplete *ngIf="suites" id="matrix-suite" [allowEmptyValue]="false" [propertiesToShow]="['name']"
          [array]="suites" [(model)]="selectedSuite" [disabled]="false" [placeholder]="'Select Suite'"
          (modelChange)="setParams()"></lookup-autocomplete>
      </div>
      <div class="col-sm-2 form-group">
        <label>Results number*</label>
        <lookup *ngIf="resultNumbers" id="matrix-results-number" [enableSort]="false" [allowEmptyValue]="false"
          [array]="resultNumbers" [(model)]="resultsNumber" [disabled]="false"
          [placeholder]="'Select Number of Results'" (modelChange)="setParams()"></lookup>
      </div>
      <div class="col-sm-2 form-group">
        <label>Label</label>
        <lookup-colored *ngIf="labels" id="matrix-label" [propertiesToShow]="['name']" [allowEmptyValue]="true"
          [array]="labels" [(model)]="label" [disabled]="false" [placeholder]="'None'" colorProperty="color"
          (modelChange)="setParams()"></lookup-colored>
      </div>
      <div class="col-sm-2 show-button form-group" *ngIf="selectedSuite">
        <button id="matrix-show" class="btn btn-primary btn-sm  form-control" (click)="getMatrix()">Show</button>
      </div>
      <div *ngIf="dataToshow && tbCols && testruns" class="col-sm-2 line-margin form-group row">
        <div class="col-sm-12 margin-y-sm">
          <mat-slide-toggle id="matrix-resolution-toggler" [ngModel]="showResolutions"
            (ngModelChange)="refreshTable($event)">Show Resolutions
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div *ngIf="dataToshow && dataToshow.length > 0" class="col-sm-12">
      <table-filter *ngIf="tbCols && dataToshow" id="matrix-table" [allowExport]="true" [data]="dataToshow"
        [columns]="tbCols" [queryParams]="true"></table-filter>
    </div>
  </div>
</div>