<div class="col-sm-2 sidebar">
    <div *ngIf="IsAdmin()" class="sidebar-group">
        <div class="sidebar-header">
            <span class="sidebar-header">Global</span>
        </div>
        <div id='app-settings-administration' routerLink="global/appSettings" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active" class="sidebar-option">
            <span class="sidebar-option">Application Settings</span>
        </div>
        <div id='users-administration' routerLink="global/users" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active" class="sidebar-option">
            <span class="sidebar-option">Users</span>
        </div>
    </div>
    <div class="sidebar-group">
        <div class="sidebar-header">
            <span class="sidebar-header">Project</span>
        </div>
        <div id='permissions-administration' *ngIf="IsLocalAdmin() || IsAdmin()" routerLink="project/permissions" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active" class="sidebar-option">
            <span class="sidebar-option">Permissions</span>
        </div>
        <div id='resolutions-administration' routerLink="project/resolutions" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active" class="sidebar-option">
            <span class="sidebar-option">Resolutions</span>
        </div>
        <div id='body-pattern-administration' routerLink="project/importBodyPatterns" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active" class="sidebar-option">
            <span class="sidebar-option">Unique Body Patterns</span>
        </div>
        <div id='import-token-administration' routerLink="project/importToken" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active" class="sidebar-option">
            <span class="sidebar-option">Import Token</span>
        </div>
    </div>
</div>
<div class="col-sm-10">
    <br>
    <router-outlet></router-outlet>
</div>