span.sidebar-header {
    font-size: 18px;
}

div.sidebar-header {
    padding: 10px;
    border-bottom: 1px solid var(--main-border-color);
}

div.sidebar {
    border-bottom-right-radius: 5px;
    border-right: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
    margin-bottom: 10px;
}

.active {
    background: var(--secondary) !important;
    color: var(--light);
}

.content {
    margin-top: 15px;
}