<div class="row">
    <simple-popup *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'"
        [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="execute($event)"
        (closed)="wasClosed()"></simple-popup>

    <div *ngIf="projects" class="col-md-12 form-row">
        <label class="col-md-2 label-inline control-label">Select Project:</label>
        <div class="col-sm-3">
            <lookup-autocomplete id="project-selector" placeholder="Select Project" [allowEmptyValue]="false"
                [propertiesToShow]="['name']" [array]="projects" [model]="selectedProject"
                (modelChange)="onProjectChange($event)"></lookup-autocomplete>
        </div>
    </div>
</div>

<div class="col-md-12 top-padding-md">
    <div *ngIf="projectToSave" class="card">
        <div class="card-body">
            <div class="card-title">Features
                <button id="save-features" class="btn btn-success btn-sm pull-right panel-button"
                    (click)="save()">Save</button>
            </div>
            <div class="panel-body">

                <div class="col-sm-4 no-padding">
                    <labeled-switch *ngIf="projectToSave" [(ngModel)]="projectToSave.steps" label="Steps"
                        id="steps-feature">
                    </labeled-switch>
                </div>

                <labeled-input *ngIf="projectToSave" [(ngModel)]="projectToSave.compare_result_pattern"
                    label="Import Compare Results Pattern" id="compare-result-pattern-feature">
                </labeled-input>

                <div class="col-sm-4 no-padding">
                    <labeled-input *ngIf="projectToSave" type="number" min="3" max="25" [(ngModel)]="projectToSave.stability_count"
                        label="Number of results to track stability" id="stability_count">
                    </labeled-input>
                </div>
            </div>
        </div>
    </div>
</div>