<div class="row">
    <simple-popup *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'"
        [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="execute($event)"
        (closed)="wasClosed($event)"></simple-popup>
    <div *ngIf="projects" class="col-md-12 vert-aligned">
        <label class="col-md-2 label-inline control-label">Select Project:</label>
        <div class="col-sm-3">
            <lookup-autocomplete id="project-selector" placeholder="Select Project" [allowEmptyValue]="false"
                [propertiesToShow]="['name']" [array]="projects" [model]="selectedProject"
                (modelChange)="onProjectChange($event)"></lookup-autocomplete>
        </div>
    </div>
</div>


<div *ngIf="projectToSave" class="panel panel-default">
    <div class="panel-heading">Features
        <button id="save-features" class="btn btn-success btn-sm pull-right panel-button" (click)="save()">Save</button>
    </div>
    <div class="panel-body">
        <labeled-switch *ngIf="projectToSave" [(ngModel)]="projectToSave.steps" label="Steps" id="steps-feature">
        </labeled-switch>
    </div>
</div>