<div *ngIf="project" id="project-audits" class="panel-heading form-row">
    <div class="col-sm-6">
      <h2>Project Audits - {{project.name}}</h2>
    </div>
    <div *ngIf="isAuditAdmin" class="col-sm-6">
      <button id="create" class="btn btn-primary pull-right" routerLink="/audit/{{project.id}}/create">New Audit</button>
    </div>
</div>
<div class="col-sm-12 no-padding">
    <table-filter id="audits-list" *ngIf="data" [data]="data" [columns]="columns" [defaultSortBy]="defSort" [queryParams]="true" (rowClick)="rowClicked($event)" rowsOnPage="20"></table-filter>
</div>
