<simple-popup *ngIf="!hideModal" title="Are you sure you want to leave?"
  message="There is pending work. Sure you want to leave?" [type]="'warning'"
  [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="wasExecuted($event)"
  (closed)="wasClosed($event)"></simple-popup>

<div class="panel-heading clearfix">
  <h2 class="col-sm-10 no-padding" id="test-result-view">Test Result: {{currentState?.id}}</h2>
  <div class="col-sm-2 no-padding">
    <button id="save-test-result" *ngIf="userService.IsLocalManager() || userService.IsManager() || userService.IsEngineer()"
      (click)="Update()" class="btn btn-success pull-right">Save</button>
  </div>
</div>

<div *ngIf="currentState" class="panel-body">
  <form>
    <div id="tr-info-line" class="row line">
      <div class="col-sm-6">
        <label for="testName">Test:</label>
        <a id="testName"
          routerLink="/project/{{projectId}}/test/{{currentState?.test.id}}">{{currentState?.test.name}}</a>
      </div>
      <div class="col-sm-2">
        <label for="testRun">Test Run:</label>
        <a id="testRun" routerLink="/project/{{projectId}}/testrun/{{currentState?.test_run_id}}">Show Test Run</a>
      </div>
      <div class="col-sm-2">
        <label>Duration:</label>
        {{calculateDuration()}}
      </div>
      <div class="col-sm-2">
        <label for="debug">Debug Result:</label>
        <input (change)="changeDebugState($event.srcElement)" id="debug" type="checkbox" name="debug"
          [(ngModel)]="currentState.debug"
          [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()">
      </div>
    </div>

    <div id="tr-result-line" class="row line">
      <div class="col-sm-4 margin-y-sm">
        <label for="testResultSelector">Result: </label>
        <lookup-colored id="testResultSelector" *ngIf="listOfFinalResults.length" [colorProperty]="'color'"
          [propertiesToShow]="['name']" [array]="listOfFinalResults" [model]="currentState.final_result"
          (modelChange)="setNewResult($event)"
          [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()">
        </lookup-colored>
      </div>
      <div *ngIf="listOfResolutions && currentState.final_result.id !== 2" class="col-sm-4 margin-y-sm">
        <label for="testResolutionSelector">Resolution: </label>
        <lookup-colored id="testResolutionSelector"
          *ngIf="listOfResolutions.length && currentState.final_result.id !== 2" [colorProperty]="'color'"
          [propertiesToShow]="['name']" [array]="listOfResolutions" [model]="currentState.test_resolution"
          (modelChange)="resolutionUpdate($event)"
          [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()">
        </lookup-colored>
      </div>
      <div *ngIf="users && currentState" class="col-sm-4 margin-y-sm">
        <label for="assigned_user">Assignee:</label>
        <lookup-autocomplete id="assigned_user" [propertiesToShow]="['user.first_name', 'user.second_name']"
          [array]="users" [(model)]="currentState.assigned_user" [allowEmptyValue]="true"
          (modelChange)="testAssigneeUpdate($event)"
          [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()">
        </lookup-autocomplete>
      </div>
    </div>


    <div id="commentBox" class="row panel-padding">
      <div class="col-sm-12 padding-0">
        <label for="comment">Comment:</label>
      </div>
      <inline-editor id="comment" [placeholder]="'Comment'" empty="No comment yet." name="comment" cols="150"
        type="textarea" [(ngModel)]="currentState.comment"
        [disabledInline]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()">
      </inline-editor>
    </div>


    <div *ngIf="currentState.log || currentState.fail_reason" class="row panel-padding">
      <label for="log">Logs:</label>
      <pre class="logs-form">
<b *ngIf="currentState.log">Fail Reason:</b>
{{currentState?.fail_reason}}
        
<b *ngIf="currentState.log">Logs:</b>
{{currentState?.log}}
      </pre>
    </div>
  </form>
</div>