<div [hidden]="isHidden" class="overlay mt-overlay modal fade" [ngClass]="{'show-modal': !this.isHidden}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div *ngIf="pdf && !isHidden" class="col-sm-10 preview">
            <iframe type="application/pdf" width='100%' height='500' [src]='pdf | safe'></iframe>
          </div>
          <div class="col-sm-2 line-margin">
            <div>
              <label class="pull-left col-sm-12 inline-label clearfix">Results:</label>
              <div *ngFor="let toggle of results_toggles" class="col-sm-12 no-padding clearfix">
                <mat-slide-toggle [(ngModel)]="toggle.state" (ngModelChange)="regenerate()">{{toggle.option.name}}
                </mat-slide-toggle>
              </div>
              <hr class="col-sm-12 no-padding">
            </div>
            <div class="col-sm-12 no-padding clearfix">
              <mat-slide-toggle [(ngModel)]="orAnd.state" (ngModelChange)="regenerate()">{{orAnd.state ? 'AND' : 'OR'}}</mat-slide-toggle>
            </div>
            <hr class="col-sm-12 no-padding">
            <div>
              <label class="pull-left col-sm-12 inline-label clearfix">Resolutions:</label>
              <div *ngFor="let toggle of resolutions_toggles" class="col-sm-12 no-padding clearfix">
                <mat-slide-toggle [(ngModel)]="toggle.state" (ngModelChange)="regenerate()">{{toggle.option.name}}
                </mat-slide-toggle>
              </div>
              <hr class="col-sm-12 no-padding">
            </div>
            <div>
              <label class="pull-left col-sm-12 inline-label clearfix">Other:</label>
              <div *ngFor="let toggle of other_toggles" class="col-sm-12 no-padding clearfix">
                <mat-slide-toggle [(ngModel)]="toggle.state" (ngModelChange)="regenerate()">{{toggle.option.name}}
                </mat-slide-toggle>
              </div>
              <hr class="col-sm-12 no-padding">
            </div>
            <div class="col-sm-12 no-padding clearfix">
              <label for="summary" class=" col-sm-12">Test runs to show:</label>
              <input class="pull-right form-control form-control-sm" (blur)="regenerate()" type="number"
                     min="5" max="30" step="5" [disabled]="!showChart" [(ngModel)]="testrunsToShow"/>
            </div>
            <div class="col-sm-12 no-padding clearfix">
              <label for="summary" class=" col-sm-12">Summary:</label>
              <textarea class="form-control" rows="5" id="summary" [(ngModel)]="text"
                        (blur)="regenerate()"></textarea>
            </div>
          </div>
        </div>
        <div class="col-sm-12 modal-footer modal-buttons">
          <div class="modal-buttons-form">
            <button autofocus (click)="doAction(button)" class="btn btn-sm" [ngClass]="{
                        'btn-secondary': !button.execute,
                        'btn-success': button.execute
                    }" *ngFor="let button of buttons">{{button.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
