<div class="panel-heading">
  <h2 id="test-suites-list">Test Suites List</h2>
</div>
<div class="panel-body">
    <simple-popup 
    *ngIf="!hideModal"
    [title]="removeModalTitle"
    [message]="removeModalMessage"
    [type]="'warning'"
    [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]"
    (execute)="execute($event)"
    (closed)="wasClosed($event)"></simple-popup>
    <table-filter *ngIf="testSuites" id="suites-table" #table
    [rowsOnPageSet]="[5,10,20]"
    [rowsOnPage]="20"
    [queryParams]="true"
    [data]="testSuites" 
    [columns]="tbCols"
    [defaultSortBy]="{ property: 'name', order: 'desc' }" 
    [allowDelete]="userService.IsLocalManager() || userService.IsManager()"
    [allowCreate]="userService.IsLocalManager() || userService.IsManager()"
    (rowClick)="openTestSuite($event.id)"
    (dataChange)="suiteUpdate($event)" 
    (action)="handleAction($event)"></table-filter>
</div>