<div [hidden]="isHidden" class="overlay mt-overlay modal fade" [ngClass]="{'show-modal': !this.isHidden}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{issue.id ? 'View' : 'Create'}} Issue</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <input id="title" type="text" class="form-control" placeholder="Title" [(ngModel)]="issue.title"
              [disabled]="!canEdit">
          </div>
        </div>

        <div class="row">
          <br class="col-sm-12">
        </div>

        <div class="row">
          <div class="col-sm-8">
            <label for="issue-description">Description:</label>
            <textarea id="issue-description" class="form-control" placeholder="Description" name="description"
              [(ngModel)]="issue.description" [disabled]="!canEdit"></textarea>
          </div>
          <div class="col-sm-4 issue-fields">
            <div *ngIf="issue.creator" class="col-sm-12 no-padding">
              <label>Creator: {{issue.creator.first_name}}
                {{issue.creator.second_name}}</label>
            </div>
            <div class="col-sm-12 no-padding">
              <label for="issue-resolution">Resolution*:</label>
              <lookup-colored *ngIf="resolutions" id="issue-resolution" [cutLongText]="true" [colorProperty]="'color'"
                [propertiesToShow]="['name']" [array]="resolutions" placeholder="Resolution" [allowEmptyValue]="false"
                [model]="issue.resolution" (modelChange)="updateResolution($event)" [disabled]="!canEdit">
              </lookup-colored>
            </div>
            <div class="col-sm-12 no-padding">
              <label for="issue-assignee">Assignee:</label>
              <lookup-autocomplete *ngIf="users" id="issue-assignee" [cutLongText]="true"
                [propertiesToShow]="['first_name', 'second_name']" [array]="users" placeholder="Assignee"
                [allowEmptyValue]="true" [model]="issue.assignee" (modelChange)="updateAssignee($event)"
                [disabled]="!canEdit">
              </lookup-autocomplete>
            </div>

            <div class="col-sm-12 no-padding">
              <app-reference #reference 
              [referenceType]="referenceTypes.Issue" 
              [projectId]="projectId" 
              [entityId]="issue.id"
              [isAddBtnShown]="false"
              (onReferencesChanged)="onReferencesChanged($event)">
              </app-reference>
            </div>
          </div>
        </div>

        <div class="col-sm-12 no-padding">
          <label for="issue-expression">Regular Expression:</label>
          <input id="issue-expression" type="text" class="form-control" placeholder="Regular Expression"
            name="expression" #expression="ngModel" [ngClass]="{
              'is-valid': !isExpressionOverlapped() && !isExpressionInvalid() && expression.touched, 
              'is-invalid': isExpressionOverlapped() || isExpressionInvalid()
              }" [(ngModel)]="issue.expression" (keyup)="onExpressionUpdate()" [disabled]="!canEdit">
          <div *ngIf="isExpressionOverlapped()" class="invalid-feedback">
            Expression is overlapped!
          </div>
          <div *ngIf="isExpressionInvalid()" class="invalid-feedback">
            Expression is not valid!
          </div>
        </div>

        <div *ngIf="issue.expression && canEdit" class="col-sm-12 no-padding row-with-switch"
          title="Assign this issue to all results where Fail Reason fits the Expression and without assigned issue">

          <mat-slide-toggle class="clearfix" [(ngModel)]="updateResults" id="update-results">Add to Results without
            issue
          </mat-slide-toggle>
        </div>

        <div class="row">
          <br class="col-sm-12">
        </div>

        <div *ngIf="failReason" class="col-sm-12 no-padding">
          <label for="issue-expression">Match Example:</label>
          <regexp-tester [expression]="issue.expression" [text]="failReason">
          </regexp-tester>
        </div>

        <div class="col-sm-12 no-padding" *ngIf="overlappedIssues && columns && overlappedIssues.length > 0">
          <div class="row">
            <br class="col-sm-12">
          </div>
          <table-filter id="overlapped-issues-table" [data]="overlappedIssues" [columns]="columns" [rowsOnPage]="3"
            [rowsOnPageSet]="[3]" [hidePageSets]="true" [hideFilter]="true" [columnManagement]="false">
          </table-filter>
        </div>

        <div class="col-sm-12 modal-footer modal-buttons">
          <div class="modal-buttons-form">
            <button *ngFor="let button of buttons" [id]="button.id" type="button" autofocus
              (click)="doAction(button.execute)"
              [disabled]="(isExpressionOverlapped() || isExpressionInvalid()) && button.execute"
              class="btn btn-sm btn-secondary" [ngClass]="{
              'btn-secondary': !button.execute,
              'btn-success': button.execute
          }">{{button.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>