<div *ngIf="audit" class="panel-heading">
  <simple-popup *ngIf="!hideModal" [title]="ModalTitle" [message]="ModalMessage" [type]="'warning'" [buttons]="buttons"
    (execute)="execute($event)" (closed)="wasClosed($event)"></simple-popup>
  <div class="row">
    <div class="col-md-9">
      <h2>Audit Info - {{audit.project.name}}</h2>
    </div>
    <div *ngIf="canEdit" class="col-md-3 no-padding">
      <div class="btn-group pull-right no-padding">
        <button *ngIf="(audit.status.id === 1 || audit.status.id === 2) && userService.IsAuditAdmin()" class="btn btn-danger btn-secondary"
          (click)="cancelAudit()">Cancel Audit</button>
        <button *ngIf="audit.status.id === 1 && canEdit" [disabled]="!audit.due_date || audit.auditors.length < 1" class="btn btn-warning btn-secondary"
          (click)="startProgress()">Start Progress</button>
        <button *ngIf="audit.status.id === 2 && canEdit" [disabled]="!this.audit.result || this.audit.summary === null || !this.attachments || this.attachments.length === 0 || audit.auditors.length < 1"
          class="btn btn-warning btn-secondary" (click)="finishProgress()">Finish Progress</button>
        <button *ngIf="audit.status.id === 3 && userService.IsAuditAdmin()" [disabled]="!this.audit.result || !this.audit.summary || !this.attachments || this.attachments.length < 1"
          class="btn btn-success btn-secondary" (click)="submitAudit()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="audit" class="panel-body">
  <div>
    <div class="inline info-panel panel panel-default no-padding bot-margin-0">
      <div class="panel-heading">Audit
        <span class="label lb-md pull-right" [ngClass]="{
          'label-success': audit.status.color === 5,
          'label-warning': audit.status.color === 2,
          'label-primary': audit.status.color === 3
        }">{{audit.status.name}}</span>
      </div>
      <div class="panel-body">
        <div class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label *ngIf="audit.due_date">Due Date:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <ng-datepicker id="due-date" name="due-date" [ngModel]="audit.due_date" (ngModelChange)="dateUpdate($event,'due_date')" [options]="DateOpts"
              [disabled]="!userService.IsAuditAdmin()"></ng-datepicker>
          </div>
        </div>
        <div class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label>Created:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <ng-datepicker id="created-date" name="created-date" [ngModel]="audit.created" (ngModelChange)="dateUpdate($event,'created')" [options]="DateOpts"
              [disabled]="!userService.IsAuditAdmin()"></ng-datepicker>
          </div>
        </div>
        <div *ngIf="audit.started" class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label>Started:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <ng-datepicker id="started-date" name="started-date" [ngModel]="audit.started" (ngModelChange)="dateUpdate($event,'started')" [options]="DateOpts"
              [disabled]="!userService.IsAuditAdmin()"></ng-datepicker>
          </div>
        </div>
        <div *ngIf="audit.progress_finished" class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label>Finished:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <ng-datepicker id="progress_finished-date" name="progress_finished-date" [ngModel]="audit.progress_finished" (ngModelChange)="dateUpdate($event,'progress_finished')"
              [options]="DateOpts" [disabled]="!userService.IsAuditAdmin()"></ng-datepicker>
          </div>
        </div>
        <div *ngIf="audit.submitted" class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label>Submitted:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <ng-datepicker id="submitteddate" name="submitted-date" [ngModel]="audit.submitted" (ngModelChange)="dateUpdate($event,'submitted')" [options]="DateOpts"
              [disabled]="!userService.IsAuditAdmin()"></ng-datepicker>
          </div>
        </div>
        <div *ngIf="audit.service" class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label class="label-inline">Service:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <lookup-colored id="service" *ngIf="audit" [propertiesToShow]="['name']" [array]="services" [small]="true" [(model)]="audit.service"
              (modelChange)="updateService()" colorProperty="color" [disabled]="!userService.IsAuditAdmin() || audit.status.id !== 1"
              placeholder="Select Auditor"></lookup-colored>
          </div>
        </div>
        <div class="col-sm-12 no-padding">
          <hr class="margin-y-sm">
        </div>
        <div class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label [ngClass]="{
              'label-inline': (audit.status.id === 1 || (audit.status.id === 2 && canEdit)) && userService.IsAuditor()
            }">Auditors:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <lookup-autocomplete-multiselect *ngIf="userService.IsAuditAdmin() && audit.status.id !== 4" placeholder="Select Auditor"
              [propertiesToShow]="['first_name','second_name']" [array]="auditors" [model]="audit.auditors" (onClosed)="auditorsChange($event)"></lookup-autocomplete-multiselect>
            <div *ngIf="!userService.IsAuditAdmin() || audit.status.id === 4">
              {{getAuditorsString()}}
            </div>
          </div>
        </div>
        <div *ngIf="audit.status.id !== 1" class="col-sm-12 no-padding">
          <div class="col-sm-6">
            <label [ngClass]="{
              'label-inline': canEdit && audit.status.id !== 4
            }">Audit Result:</label>
          </div>
          <div class="col-sm-6 no-padding">
            <inline-editor [disabledInline]="!canEdit" [config]="{saveOnBlur: true, placeholder: 'Set Result'}" *ngIf="canEdit" id="result" size="3" empty="Set Result"
              type="number" min="1" max="100" name="result" [(ngModel)]="audit.result" (onSave)="updateResult()" (onError)="resultError($event)"></inline-editor>
            <div *ngIf="!canEdit">{{audit.result}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="audit.status.id !== 1 && (audit.summary || canEdit)" class="inline summary-panel panel panel-default no-padding bot-margin-0">
      <div class="panel-heading">Summary
        <button *ngIf="canEdit" class="btn btn-heading btn-success pull-right" (click)="update()">Save</button>
      </div>
      <div class="panel-body no-padding" fit-editor-into-parent>
        <app-ngx-editor clickableLinks *ngIf="canEdit" [config]="editorConfig" [showToolbar]="canEdit" [height]="150" [(ngModel)]="audit.summary"></app-ngx-editor>
        <div *ngIf="audit.summary && !canEdit" class="summaryShow" [showHtml]="audit.summary"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 no-padding">
    <hr>
  </div>
  <div>
    <div class="inline comments-panel panel panel-default no-padding bot-margin-0">
      <div class="panel-heading">Comments</div>
      <div class="panel-body no-padding">
        <comments-block [comments]="audit.comments" height="280px" (addComment)="addComment($event)" [disabled]="disableComments"></comments-block>
      </div>
    </div>
    <div *ngIf="canEdit || (attachments && attachments.length > 0)" class="inline attachments-panel panel panel-default no-padding bot-margin-0">
      <div class="panel-heading">Attachments</div>
      <div class="panel-body no-padding">
        <div>
          <table *ngIf="attachments && attachments.length > 0" class="table">
            <tbody>
              <tr *ngFor="let attach of attachments">
                <td>
                  <a class="clickable-element fileLink" (click)=downloadAttach(attach)>{{getAttachName(attach)}}</a>
                </td>
                <td class="fit">
                  <button *ngIf="canEdit" type="button" class="btn btn-danger btn-xs" (click)="removeAttachment(attach.id)" [disabled]="removingInProgress">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <file-uploader *ngIf="URL && canEdit" [URL]="URL" (uploaded)="getAttachments()"></file-uploader>
      </div>
    </div>
  </div>
</div>