<app-modal *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'"
  [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="execute($event)"
  (closed)="wasClosed()"></app-modal >

<div class="panel-heading form-row">
  <div class="pull-left col-sm-8">
    <h2>Customers Dashboard</h2>
  </div>
  <div *ngIf="allowCreate" class="col-sm-4">
    <a class="btn btn-primary pull-right" routerLink="/customer/create">New Customer</a>
  </div>
</div>

<div class="col-sm-12 no-padding">
  <table-filter *ngIf="customers && columns" [data]="customers" [columns]="columns" [defaultSortBy]="defSort"
    (action)="handleAction($event)" [allowDelete]="allowCreate" [queryParams]="true" (rowClick)="rowClicked($event)"
    rowsOnPage="20"></table-filter>
</div>