<simple-popup *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'" [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]"
  (execute)="execute($event)" (closed)="wasClosed($event)"></simple-popup>

<div class="panel-heading page">
  <div class="row clearfix">
    <div class="pull-left">
      <h2>Customers Dashboard</h2>
    </div>
    <div *ngIf="userService.IsHead() || userService.IsUnitCoordinator()" class="btn-group pull-right">
      <a class="btn btn-primary pull-right" routerLink="/customer/create">New Customer</a>
    </div>
  </div>
</div>

<div class="col-sm-12 no-padding">
    <table-filter *ngIf="customers && columns" [data]="customers" [columns]="columns" [defaultSortBy]="defSort"
      (action)="handleAction($event)" [allowDelete]="userService.IsHead() || userService.IsUnitCoordinator()" [queryParams]="true" (rowClick)="rowClicked($event)" rowsOnPage="20" ></table-filter>
</div>