.selector-suggestions.cut-long-text li {
  overflow:hidden; 
  white-space:no-wrap; 
  text-overflow:ellipsis;
}

li.default-option {
  background-color: var(--light);
}

.selector-button {
  text-align: left;
}

.selector-container {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 135px;
  margin-bottom: 0px !important;
}

.lookup-selector-sm {
  font-size: 12px !important;
  height: 30px;
}

.width100 .selector-container {
  min-width: 100px !important;
  width: 100px !important;
}

.selector-suggestions {
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 200px;
  position: absolute;
  z-index: 9;
  left: 0;
  width: 100%;
}

.selector-suggestions ul {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gainsboro;
  overflow-y: auto;
  max-height: 200px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.selector-suggestions li {
  padding: 5px;
  border-bottom: 1px solid gainsboro;
  width: 100%;
}

.selector-suggestions li:hover {
  cursor: pointer;
}

.inline-selector{
  box-shadow: none;
  height: 27px;
  color: black;
  font-size: 14px !important;
  background-color: var(--white);
  text-decoration: none !important;
  line-height: 1.375;
  white-space: pre-line;
  display: inline-block;
  border: 1px solid var(--light);
  border-radius: 8px;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 3px;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: none;
}

.inline-selector:hover {
  border-color: var(--light);
  background-color: var(--white);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
}

.disabled-lookup {
  color: black;
  border: none;
  padding: 0 !important;
  margin: 5px 0px;
}

.caret {
  margin: 4px 0px 0px 4px;
}