<b *ngIf="disabled && model">
    <button class="btn form-control optional-selectbox selector-main-button disabled" [ngClass]="{
      'lookup-selector-sm': small,
      'btn-danger': getColorId(model) === 1,
      'btn-primary': getColorId(model) === 3,
      'btn-warning': getColorId(model) === 2,
      'btn-info': getColorId(model) === 4,
      'btn-success': getColorId(model) === 5
    }" [ngStyle]="getColorFromHash(model)" [disabled]="disabled">{{textToShow(model)}}</button>
</b>
<div *ngIf="array && !disabled" class="selector-container">
    <div>
        <b>
            <button (click)="toggle()" (keyup.esc)="toggleOff()" (blur)="toggleOff()"
                class="btn form-control optional-selectbox selector-main-button" [ngClass]="{
      'lookup-selector-sm': small,
      'btn-danger': getColorId(model) === 1,
      'btn-primary': getColorId(model) === 3,
      'btn-warning': getColorId(model) === 2,
      'btn-info': getColorId(model) === 4,
      'btn-success': getColorId(model) === 5
    }" [ngStyle]="getColorFromHash(model)" [disabled]="disabled">{{textToShow(model)}} <span
                    class="caret caret-custom"></span></button>
        </b>
    </div>
    <div *ngIf="!hidden" class="selector-suggestions" [ngClass]="{
        'cut-long-text': cutLongText
    }">
        <ul>
            <li *ngIf="filteredArray.length === 0 && !allowEmptyValue" class="selector-button btn-default">No items</li>
            <li [title]="placeholder" tabindex="0" *ngIf="allowEmptyValue" class="selector-button btn-default"
                (mousedown)="select(emptyValue)">
                {{placeholder}}
            </li>
            <li [title]="textToShow(item)" tabindex="0" *ngFor="let item of array" (mousedown)="select(item)" class="selector-button" [ngClass]="{
      'btn-danger': getColorId(item) === 1,
      'btn-primary': getColorId(item) === 3,
      'btn-warning': getColorId(item) === 2,
      'btn-info': getColorId(item) === 4,
      'btn-success': getColorId(item) === 5
    }" [ngStyle]="getColorFromHash(item)">
                {{textToShow(item)}}
            </li>
        </ul>
    </div>
</div>