<div *ngIf="disabled">
    {{selectedItemText}}
</div>
<div *ngIf="array && !disabled" class="selector-container">
    <button type="button" class="form-control lookup-field selector-main-button" (click)="toggle()" (blur)="toggleOff()"
        [disabled]="disabled" [ngClass]="{
      'lookup-selector-sm': small,
      'inner-text-placeholder' : selectedItemText === placeholder
    }">{{selectedItemText}}<span class="caret caret-custom"></span></button>
    <div [hidden]="hidden" class="selector-suggestions" *ngIf="filteredArray" [ngClass]="{
      'cut-long-text': cutLongText
    }">
        <ul>
            <li *ngIf="filteredArray.length === 0 && !allowEmptyValue" class="selector-button btn-default">No items</li>
            <li *ngIf="allowEmptyValue" class="selector-button btn-default" (mousedown)="select(emptyValue)">
                None
            </li>
            <li class="selector-button btn-default" *ngFor="let item of filteredArray" (mousedown)="select(item)">
                {{textToShow(item)}}
            </li>
        </ul>
    </div>
</div>