<move-test-modal *ngIf="!hideMoveModal" [title]="MoveModalTitle" [testMoveFrom]="test" (testMovedTo)="movedTo($event)"
  [tests]="tests" [buttons]="[{name:'Move', execute:true }, {name:'Cancel', execute:false}]" (execute)="execute($event)"
  (closed)="wasClosed()"></move-test-modal>
<simple-popup *ngIf="!hideLeavePageModal && showSteps" title="Are you sure you want to leave?"
  message="You have unsaved changes. Are you sure want to leave this page?" [type]="'warning'"
  [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="leavePage($event)"
  (closed)="leavePageWasClosed()"></simple-popup>

<div *ngIf="test" id="test-page" class="panel-heading page result-search-margin">
  <div class="row clearfix">
    <div class="col-sm-10 page-title">
      <h2 class="pull-left inline-page-label">Test: </h2>
      <div class="name-field clearfix">
        <inline-editor [disabled]="!canEdit" maxLength="500" min="3" [config]="{ type:'text', size:'lg' }"
          placeholder="Name" type="text" trim="blur" [(ngModel)]="test.name" (onSave)="testUpdate()" [required]="true">
        </inline-editor>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="btn-group pull-right">
        <button *ngIf="showSteps" id="copy-scenario" class="btn btn-primary" (click)="copyScenario()">Copy
          Scenario</button>
        <button *ngIf="canEdit" class="btn btn-primary" (click)="moveTestOpen()">Move Test</button>
      </div>
    </div>
  </div>
</div>

<div class="form-row col-sm-12 no-padding">
  <hr class="col-sm-12">
</div>

<div *ngIf="test" class="row">
  <div class="col-sm-12 form-row">
    <div class="col-sm-4 clearfix">
      <div class="pull-left">
        <label class="label-inline pull-left margin-right-10" for="manualDuration">Manual Duration: </label>
      </div>
      <div class="pull-left">
        <input id="manualDuration" class="form-control input-sm ft-duration-input" name="manualDuration" type="text"
          [textMask]="{mask:durationMask}" [ngModel]="transformation.calculateDuration(test.manual_duration)"
          (blur)="saveManualDuration($event)" [disabled]="!canEdit" />
      </div>
    </div>
    <div *ngIf="selectedDeveloper || canEdit" class="col-sm-4 clearfix">
      <div class="pull-left margin-right-10">
        <label class="label-inline pull-left" for="selectedDeveloper">Developer: </label>
      </div>
      <div class="pull-left">
        <lookup-autocomplete id="selectedDeveloper" [small]="true"
          [propertiesToShow]="['user.first_name', 'user.second_name']" [array]="users" [model]="selectedDeveloper"
          [disabled]="!canEdit" (modelChange)="setNewDeveloper($event)">
        </lookup-autocomplete>
      </div>
    </div>
    <div *ngIf="test.suites" class="col-sm-4 margin-bottom-10 clearfix">
      <label class="label-inline pull-left margin-right-10">Test Suites:</label>
      <a *ngFor="let suite of test.suites" class="label-inline pull-left suite-links"
        routerLink="/project/{{test.project_id}}/tests" [queryParams]="{suite:suite.id}">{{suite.name}}</a>
    </div>
  </div>

  <div *ngIf="showSteps" class="col-sm-12 form-row">
    <hr class="col-sm-12">
  </div>

  <div *ngIf="showSteps" class="col-sm-12 form-row">
    <div class="col-sm-12">
      <label class="label-inline pull-left">Steps:</label>
    </div>
    <div class="col-sm-12">
      <steps-container #steps [editable]="canEdit"></steps-container>
    </div>
  </div>

  <div *ngIf="testResults?.length > 1 || test.body" class="col-sm-12 form-row">
    <hr class="col-sm-12">
  </div>

  <div class="col-sm-12 no-padding form-row">
    <div *ngIf="testResults?.length > 1" class="col-sm-6 margin-bottom-10">
      <result-timeline [testResults]="testResults">Loading...</result-timeline>
    </div>
    <div *ngIf="testResults?.length > 1" class="col-sm-6 margin-bottom-10">
      <test-duration-chart [testResults]="testResults">Loading...</test-duration-chart>
    </div>
  </div>
  <div class="col-sm-12">
    <div *ngIf="test.body" class="description-text">
      <pre [style.maxHeight.px]="descriptionHeight" (dblclick)="descriptionClicked()"
        title="Double click to show\hide full text">{{test.body}}</pre>
    </div>
  </div>
</div>

<div *ngIf="testResultTempalte">
  <results-grid [testResultTempalte]="testResultTempalte" [showOnly]="columns" [sortBy]="resultSorter" (refreshed)="testResults=$event">Loading...
  </results-grid>
</div>