.mt-overlay {
  display: block;
}

.show-modal {
  opacity: 1;
}

.modal-dialog {
  margin: 10rem auto !important;
  max-width: 70% !important;
  min-width: 70%;
}

.line-margin {
  margin-top: 5px;
}

hr {
  margin: 5px;
  border: none;
  color: #d6d6d6;
  background-color: #d6d6d6;
  height: 1px;
}

h6 {
  word-wrap: break-word;
}

.btn-group-item {
  display: block;
  text-align: left;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: solid 1px #e0e0e0;
  border-top: solid 1px #e0e0e0;  
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.btn-group-item:hover,
.btn-group-item:active,
.btn-group-item:focus,
.btn-group-item.selected {
  color: white;
  box-shadow: none;
  background-color: #abaeb2 !important;
}

img,
iframe,
.btnGroup
 {
  display: inline-block;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  object-fit: scale-down;
}

img:hover {
  cursor: zoom-in;
}
