<div class="panel-heading">
  <h2 id="milestones-list">Milestones</h2>
</div>

<div class="panel-body">
  <simple-popup *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'"
    [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="execute($event)"
    (closed)="wasClosed($event)"></simple-popup>

  <table-filter id="milestones-table" *ngIf="milestones && columns" [data]="milestones" [columns]="columns" [defaultSortBy]="defSort"
    (action)="handleAction($event)" [queryParams]="true" [allowDelete]="canEdit" [allowCreate]="canEdit"
    (dataChange)="updateMilestone($event)" (rowClick)="rowClicked($event)" rowsOnPage="20"></table-filter>

</div>