.slc-part {
    margin: 15px 0 0 0;
    display: inline-block;
    height: 20px;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.slc-part:before {
    content: "";
    position: absolute;
    opacity: .4;
    z-index: -1;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom:50%;
    background-color: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    filter: brightness(120%);
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.slc-part:hover:before {
    top: -3;
    bottom:-3;
    left: -3;
    right: -3;
}

.slc-part:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slc-part:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slc-part:hover .slc-title {
    opacity: 1;
}

.slc-title {
    transition: all .3s ease-in;
    opacity: 0;
    margin-left: 10px;
    bottom: -25px;
    position: absolute;
}