.card {
    padding: 5px;
    background: var(--white);
    margin: 10px;
    border: 1px solid var(--light);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-holder {
    height: 299px;
}

.card-holder-sm {
    height: 223px;
}

.settings-bar {
    padding: 60px 21px 0 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--dark);
    width: 300px;
    z-index: 10;
}

.settings-content {
    overflow: auto;
    height: inherit;
}

.settings-toggler {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--dark);
    width: 20px;
    z-index: 10;
}

.settings-toggler:hover {
    background-color: black;
}

.settings-bar label {
    color: var(--light);
}

.dashboards-list {
    color: var(--light);
    padding: 0;
}

.dashboards-list>li {
    padding: 5px;
    font-weight: bold;
}

.dashboards-list>li>* {
    cursor: pointer;
}

.dashboards-holder {
    margin-top: 10px;
}

.settings-toggler>.icon-holder {
    margin-top: 50vh;
    margin-left: 4px;
    color: var(--light);
}

.autoRefresh {
    margin-top: 10px;
    margin-bottom: 10px;
}