<div *ngIf="suite_stats && suite_stats.length > 0" class="holder form-row">
  <div *ngFor="let suite of suite_stats" class="no-padding" [ngClass]="{
    'col-sm-3': suite_stats.length < 13 || detailed,
    'col-sm-2': suite_stats.length > 12 && !detailed
  }">
    <div class="card clearfix" [ngClass]="{
      'card-holder': suite_stats.length < 13 || detailed,
      'card-holder-sm': suite_stats.length > 12 && !detailed
    }">
      <div class="suite_name_holder">
        <h3 class="suite_name CropLongTexts" [title]="suite.name">{{suite.name}}</h3>
        <h6 *ngIf="suite.stat" class="CropLongTexts" [title]="suite.stat.build_name">{{suite.stat.build_name}}</h6>
      </div>
      <div *ngIf="suite.chartData" class="db-chart">
        <div style="display: block">
          <canvas [id]="suite.name + Chart" baseChart [datasets]="suite.chartData" [labels]="suite.chartLabels"
            [chartType]="doughnutChartType" [colors]="chartColors" [options]="suite.options"></canvas>
        </div>
      </div>
      <div *ngIf="suite.stat" class="db-stat col-sm-12 no-padding">
        {{suite.stat.start_time | date: 'MMM dd, yyyy hh:mm a'}} | {{getDuration(suite.stat)}}
      </div>
      <div *ngIf="!suite.chartData" class="col-sm-6 db-chart">
        <p>Nothing to show</p>
      </div>
    </div>
  </div>
</div>

<div class="settings-bar" [@slideInOut]="settingsBar">
  <div class="settings-toggler" (click)="toggleSideBar()">
    <div class="icon-holder">
      <fa-icon *ngIf="settingsBar =='out'" class="icon" [icon]="icons.faChevronRight"></fa-icon>
      <fa-icon *ngIf="settingsBar =='in'" class="icon" [icon]="icons.faChevronLeft"></fa-icon>
    </div>
  </div>
  <div *ngIf="settingsBar" class="settings-content">

    <div *ngIf="settingsBar" class="col-sm-12 form-row">
      <button id="autoRefresh" class="btn btn-sm autoRefresh" title="Auto Refresh" (click)="autoRefresh()" [ngClass]="{
      'btn-success' : refreshStatus,
      'btn-secondary' : !refreshStatus
      }">
        Auto Refresh
        <fa-icon class="icon" [icon]="icons.faSyncAlt" [ngClass]="{
            'glyphicon-refresh-animate' : refreshStatus
        }">
        </fa-icon>
      </button>
    </div>
    
    <div *ngIf="settingsBar" class="col-sm-12 form-row">
      <ui-switch class="pull-left" id="detailed" size="small" [ngModel]="detailed" (change)="generateChartsData($event)">
      </ui-switch>
      <label class="pull-left ui-switch-sm-label" for="detailed">Detailed</label>
    </div>
  
    <div *ngIf="settingsBar" class="col-sm-12 form-row">
      <label for="suites">Suites</label>
      <lookup-autocomplete-multiselect id="suites" placeholder="Select Suites" [propertiesToShow]="['name']"
        [array]="suites" [model]="suitesToShow" (onClosed)="updateSuites($event)"></lookup-autocomplete-multiselect>
    </div>
  
  
    <div *ngIf="settingsBar" class="col-sm-12 form-row">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="newDashboardName">
        <span class="input-group-append">
          <button type="button" class="btn btn-success" (click)="saveDashboard()"
            [disabled]="!isDashboardNameValid()">Save</button>
        </span>
      </div>
    </div>
  
    <div *ngIf="settingsBar" class="col-sm-12 dashboards-holder">
      <label for="suites">Dashboards</label>
      <ul class="dashboards-list">
        <li class="clearfix" *ngFor="let dashboard of dashboards">
          <p class="pull-left no-margin" (click)="selectDashboard(dashboard)">{{dashboard.name}}</p>
          <fa-icon *ngIf="!dashboard.notDeletable" class="icon pull-right" [icon]="icons.faTimes" (click)="removeDashboard(dashboard)"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>