<div class="panel-heading form-row">
  <div class="pull-left">
    <h2>Create New Customer</h2>
  </div>
</div>
<div class="col-md-12">
  <form (ngSubmit)="processCustomerCreation()" #form="ngForm">
    <div class="form-group" [ngClass]="{
                'has-error': name.invalid && name.touched,
                'has-success': name.valid && name.touched
              }">

      <div class="col-sm-12 form-row">
        <div class="col-sm-6">
          <label for="name" class="pull-left label-inline">Customer Name*:</label>
          <input id="name" autofocus maxlength="100" name="name" [(ngModel)]="customer.name" type="text" trim="blur"
            class="form-control pull-left" placeholder="name" #name required>
        </div>

        <div class="col-sm-6">
          <label for="coordinator" class="label-inline">Unit Coordinator*:</label>
          <lookup-autocomplete id="coordinator" name="coordinator" *ngIf="coordinators" [allowEmptyValue]="false"
            [propertiesToShow]="['first_name', 'second_name']" [array]="coordinators" [(model)]="customer.coordinator"
            placeholder="Unit Coordinator"></lookup-autocomplete>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || !IsFormValid()">Create</button>
    </div>
  </form>
</div>