<div *ngIf="disabled && model">
    <button class="btn form-control optional-selectbox selector-main-button disabled" [ngClass]="{
      'lookup-selector-sm': small,
      'btn-danger': getColorId(model) === 1,
      'btn-primary': getColorId(model) === 3,
      'btn-warning': getColorId(model) === 2,
      'btn-info': getColorId(model) === 4,
      'btn-success': getColorId(model) === 5
    }" [ngStyle]="getColorFromHash(model)" [disabled]="disabled">{{textToShow(model)}}</button>
</div>
<div *ngIf="array && !disabled" class="selector-container">
    <div>
        <button (click)="toggle()" (keyup.esc)="toggleOff()" (blur)="toggleOff()"
            class="form-control optional-selectbox selector-main-button" [ngClass]="{
            'lookup-selector-sm': small,
            'btn-danger': getColorId(model) === 1,
            'btn-primary': getColorId(model) === 3,
            'btn-warning': getColorId(model) === 2,
            'btn-info': getColorId(model) === 4,
            'btn-success': getColorId(model) === 5
            }" [ngStyle]="getColorFromHash(model)" [disabled]="disabled"><p class="pull-left button-text">{{textToShow(model)}}</p>
            <fa-icon class="icon pull-right caret" [icon]="icons.faCaretDown" ></fa-icon>
        </button>
    </div>
    <div *ngIf="!hidden" class="selector-suggestions" [ngClass]="{
        'cut-long-text': cutLongText
    }">
        <ul>
            <li *ngIf="filteredArray.length === 0 && !allowEmptyValue" class="selector-button btn-default">No items</li>
            <li [title]="placeholder" tabindex="0" *ngIf="allowEmptyValue" class="selector-button btn-default"
                (mousedown)="select(emptyValue)">
                {{placeholder}}
            </li>
            <li [title]="textToShow(item)" tabindex="0" *ngFor="let item of array" (mousedown)="select(item)"
                class="selector-button" [ngClass]="{
      'btn-danger': getColorId(item) === 1,
      'btn-primary': getColorId(item) === 3,
      'btn-warning': getColorId(item) === 2,
      'btn-info': getColorId(item) === 4,
      'btn-success': getColorId(item) === 5
    }" [ngStyle]="getColorFromHash(item)">
                {{textToShow(item)}}
            </li>
        </ul>
    </div>
</div>