<div class="row">
  <simple-popup *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'" [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]"
    (execute)="execute($event)" (closed)="wasClosed($event)"></simple-popup>
  <div *ngIf="projects" class="col-md-12 vert-aligned">
    <label class="col-md-2 label-inline control-label">Select Project:</label>
    <div class="col-sm-3">
      <lookup-autocomplete placeholder="Select Project" [allowEmptyValue]="false" [propertiesToShow]="['name']" [array]="projects"
        [model]="selectedProject" (modelChange)="onProjectChange($event)"></lookup-autocomplete>
    </div>
  </div>
  <div class="col-md-12 top-padding-md">
    <div class="panel panel-default">
      <div class="panel-heading">Import Token</div>
      <div class="panel-body">
        <div class="col-ms-12">
          <pre>Import token will help you to import test rusults using API.
If you have Import token you don't need your credentials to import.
Add 'importToken' parameter to you request and don't use Authorization header anymore.</pre>
        </div>
        <div class="button-col no-padding">
          <button class="btn btn-success" (click)="generateTokenAction()">Generate Token</button>
        </div>
        <div class="token-col label-inline">
          <pre *ngIf="token">{{token}}</pre>
          <div *ngIf="token" class="alert alert-warning no-margin" role="alert">
            Remember this token, you will not see it ever again!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>