.mt-overlay{
  display: block;
}

.show-modal {
  opacity: 1;
}

.modal-dialog {
  margin: 9rem auto !important;
  max-width: 600px !important;
}

.panel-body {
  padding-bottom: 10px;
}

.table-holder {
  padding-bottom: 0px;
  padding-top: 0px;
  max-height: 700px;
  overflow: auto;
}

.modal-buttons label {
  margin-top: 15px;
  text-transform: none;
}

.modal-buttons input{
  margin-top: 20px;
}