<div class="panel-heading">
  <div class="row">
    <div class="col-sm-4">
      <h2 id="issues-list">Issues</h2>
    </div>
    <div class="col-md-8">
      <div class="btn-group pull-right" role="group">
        <button *ngIf="canEdit" class="btn btn-primary" id="create-issue-button" (click)="showCreate()">Create Issue</button>
        <button *ngIf="isAiOn" class="btn btn-warning" id="generate-ai-issues" (click)="generateAiIssues()">Generate Issues with AI</button>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  <issue-create-modal *ngIf="!hideCreateModal" (execute)="execute($event)" (closed)="wasClosed()" [resolutions]="resolutions" [users]="users"
  [existingIssues]="issues"></issue-create-modal>
  <table-filter id="issues-table" *ngIf="issues && columns" [data]="issues" [columns]="columns"
    [hiddenColumns]="hiddenColumns" [defaultSortBy]="defSort" [queryParams]="true"
    (dataChange)="updateIssue($event)" (rowClick)="rowClicked($event)" rowsOnPage="20">
  </table-filter>
</div>
