.margin-top-6px{
  margin-top: 6px;
}

.greyout{
  color:#dddddd;
}

.padding-left-15px{
  padding-left: 15px;
}

.field-cell{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}

.settings-section{
  border-top: solid 1px #f5f5f5;
  padding-top: 10px;
  margin-top: 10px;
}

.label-inline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.email-pattern-hint {
  padding: 4px;
}

.email-pattern-hint .lt-container-shown{
  margin-top: -20px;
}

.card {
  margin-top: 15px;
}

.card-title {
  padding-bottom: 10px;
  border-bottom: solid 1px var(--main-border-color);
}

.form-row:not(:last-child) {
  border-bottom: solid 1px var(--light);
  margin-bottom: 10px;
}

.email-pattern-hint {
  margin-top: 0px;
  margin-bottom: 15px;
}