<div *ngIf="generalSettings" class="card">
  <div class="card-body">

    <div class="card-title">General Settings
      <button id="save-general" class="btn btn-success btn-sm pull-right panel-button"
        (click)="saveGeneral()">Save</button>
    </div>

    <div class="form-row">
      <div class="col-sm-4 form-group row">
        <div class="col-sm-12">
          <mat-slide-toggle id="audits-module" [(ngModel)]="generalSettings.audits">Audits Module</mat-slide-toggle>
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-12">
          <mat-slide-toggle [(ngModel)]="generalSettings.ldap_auth" (ngModelChange)="setLdap($event)">LDAP Authorization</mat-slide-toggle>
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-12">
          <mat-slide-toggle [disabled]="generalSettings.ldap_auth !== 1 || !generalSettings.ldap_auth"
          [(ngModel)]="generalSettings.base_auth">Base Authorization</mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="ldapSettings && generalSettings && generalSettings.ldap_auth" class="card">

  <div class="card-body">
    <div class="card-title">LDAP Settings
      <button class="btn btn-success btn-sm pull-right panel-button" (click)="saveLDAP()">Save</button>
    </div>


    <div class="form-row">
      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="ldapAdServer" class="label-inline">AD Server</label>
        </div>
        <div class="col-sm-8">
          <input id="ldapAdServer" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.ldapAdServer">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="ldapSearchBaseUsers" class="label-inline">Base Search Users</label>
        </div>
        <div class="col-sm-8">
          <input id="ldapSearchBaseUsers" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.ldapSearchBaseUsers">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="security_auntification" class="label-inline">Authentication Type</label>
        </div>
        <div class="col-sm-8">
          <input id="security_auntification" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.security_auntification">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="userSearchFilter" class="label-inline">User Search Filter</label>
        </div>
        <div class="col-sm-8">
          <input id="userSearchFilter" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.userSearchFilter">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="domain" class="label-inline">Login Domain</label>
        </div>
        <div class="col-sm-8">
          <input id="domain" maxlength="300" class="form-control input-sm" [(ngModel)]="ldapSettings.domain">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="mailAttribute" class="label-inline">Mail Attribute</label>
        </div>
        <div class="col-sm-8">
          <input id="mailAttribute" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.mailAttribute">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="firstNameAttribute" class="label-inline">First Name Attribute</label>
        </div>
        <div class="col-sm-8">
          <input id="firstNameAttribute" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.firstNameAttribute">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="userNameAttribute" class="label-inline">User Name Attribute</label>
        </div>
        <div class="col-sm-8">
          <input id="userNameAttribute" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.userNameAttribute">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="lastNameAttribute" class="label-inline">Last Name Attribute</label>
        </div>
        <div class="col-sm-8">
          <input id="lastNameAttribute" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.lastNameAttribute">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="adminUserName" class="label-inline">Admin User Name</label>
        </div>
        <div class="col-sm-8">
          <input id="adminUserName" maxlength="300" class="form-control input-sm"
            [(ngModel)]="ldapSettings.adminUserName">
        </div>
      </div>

      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="adminSecret" class="label-inline">Admin Password</label>
        </div>
        <div class="col-sm-8">
          <input id="adminSecret" maxlength="300" class="form-control input-sm" type="password"
            [(ngModel)]="ldapSettings.adminSecret">
        </div>
      </div>
    </div>

  </div>
</div>


<div *ngIf="emailSettings" class="card">

  <div class="card-body">

    <div class="card-title">Email Settings
      <button id="saveEmailSettings" class="btn btn-success btn-sm pull-right panel-button"
        (click)="saveEmail()">Save</button>
    </div>

    <div class="form-row">
      <div class="col-sm-6 form-group row">
        <div class="col-sm-4">
          <label for="defaultEmailPattern" class="label-inline">Default Email Pattern</label>
        </div>
        <div class="col-sm-8">
          <input id="defaultEmailPattern" maxlength="50" class="form-control input-sm float-left"
            [(ngModel)]="emailSettings.default_email_pattern">
        </div>
      </div>
      <div class="col-sm-6 card email-pattern-hint">
        <large-text-container id="defaultEmailPatternHint" [text]="emailHelpText" [hint]="emailHelpTextHint">
        </large-text-container>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-4">
        <mat-slide-toggle [(ngModel)]="emailSettings.enabled">Email Notifications</mat-slide-toggle>
      </div>
      <div *ngIf="emailSettings.enabled" class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="emailBaseURL" class="label-inline">Base URL</label>
        </div>
        <div class="col-sm-8">
          <input id="emailBaseURL" maxlength="500" class="form-control input-sm" [(ngModel)]="emailSettings.base_url">
        </div>
      </div>
    </div>

    <div *ngIf="emailSettings.enabled" class="form-row">
      <div class="col-sm-12">
        <div class="col-sm-4 form-group row">
          <mat-slide-toggle [(ngModel)]="emailSettings.use_auth">Use STMP Authentication</mat-slide-toggle>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4 form-group row">
          <mat-slide-toggle [(ngModel)]="emailSettings.starttls">Use STARTTLS</mat-slide-toggle>
        </div>
      </div>
      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="smtpHost" class="label-inline">STMP Host</label>
        </div>
        <div class="col-sm-8">
          <input id="smtpHost" maxlength="100" class="form-control input-sm" [(ngModel)]="emailSettings.host"
            [disabled]="!emailSettings.enabled">
        </div>
      </div>
      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="smtpPort" class="label-inline">STMP Port</label>
        </div>
        <div class="col-sm-8">
          <input id="smtpPort" maxlength="4" class="form-control input-sm" [(ngModel)]="emailSettings.port"
            [disabled]="!emailSettings.enabled">
        </div>
      </div>
      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="smtpEmailFrom" class="label-inline">STMP Email From</label>
        </div>
        <div class="col-sm-8">
          <input id="smtpEmailFrom" maxlength="100" class="form-control input-sm" [(ngModel)]="emailSettings.from_email"
            [disabled]="!emailSettings.enabled">
        </div>
      </div>
      
      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="smtpUser" class="label-inline">STMP User</label>
        </div>
        <div class="col-sm-8">
          <input id="smtpUser" maxlength="100" class="form-control input-sm" [(ngModel)]="emailSettings.user"
            [disabled]="!emailSettings.use_auth">
        </div>
      </div>
      <div class="col-sm-4 form-group row">
        <div class="col-sm-4">
          <label for="smtpPassword" class="label-inline">STMP Password</label>
        </div>
        <div class="col-sm-8">
          <input id="smtpPassword" maxlength="100" class="form-control input-sm" type="password"
            [(ngModel)]="emailSettings.password" [disabled]="!emailSettings.use_auth">
        </div>
      </div>

    </div>
  </div>
</div>