<div class="row">
    <simple-popup *ngIf="!hideModal" [title]="removeModalTitle" [message]="removeModalMessage" [type]="'warning'"
        [buttons]="[{name:'yes', execute:true }, {name:'no', execute:false}]" (execute)="execute($event)"
        (closed)="wasClosed($event)"></simple-popup>
    <div *ngIf="projects" class="col-md-12 vert-aligned">
        <label class="col-md-2 label-inline control-label">Select Project:</label>
        <div class="col-sm-3">
            <lookup-autocomplete id="project-selector" placeholder="Select Project" [allowEmptyValue]="false"
                [propertiesToShow]="['name']" [array]="projects" [model]="selectedProject"
                (modelChange)="onProjectChange($event)"></lookup-autocomplete>
        </div>
    </div>


    <div class="col-md-12 top-padding-md">
            <table-filter id="ft-resolutions" *ngIf="resolutions" [data]="resolutions" [columns]="tbCols" [allowCreate]="true"
                [allowDelete]="true" (dataChange)="createResolution($event)" (action)="handleAction($event)"
                [queryParams]="true">
            </table-filter>
    </div>
</div>