<div class="panel-heading">
  <h2>Create New Test Run</h2>
</div>
<div class="panel-body">
  <form (ngSubmit)="processTestRunCreation()" #form="ngForm">

    <div class="row">
      <div class="col-sm-6">
        <label for="build_name">Build Name*:</label>
        <input autofocus id="build_name" name="name" [(ngModel)]="newBuildName" type="text" trim="blur"
          class="form-control" placeholder="build name" required>
        <label for="milestoneSelector">Milestone:</label>
        <lookup-autocomplete id="milestoneSelector" [cutLongText]="true" [propertiesToShow]="['name']" [array]="milestones"
          placeholder="Not Assigneed" [model]="milestone" [allowCreation]="true" [allowEmptyValue]="true" (searchText)="createMilestone($event)"
          (modelChange)="milestoneChange($event)" required="true">
        </lookup-autocomplete>
      </div>

      <div class="col-sm-6">
        <label for="testsuiteSelector">Test Suite*:</label>
        <lookup-autocomplete [cutLongText]="true" [propertiesToShow]="['name']" [array]="testSuites"
          placeholder="Select Suite" [model]="testSuite" [allowCreation]="true" (searchText)="createTestSuite($event)"
          (modelChange)="testSuiteChange($event)" required="true">
        </lookup-autocomplete>
        <label for="env">Execution Environment:</label>
        <input id="env" name="environment" [(ngModel)]="executionEnvironment" type="text" trim="blur"
          class="form-control" placeholder="execution environment" #environment="ngModel">
      </div>
    </div>

    <div class="row panel-padding">
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
          id="create-test-run-button">Create</button>
      </div>
    </div>
  </form>
</div>