.result-searcher-table {
    overflow: auto;
    max-height: 300px;
}

#limitResults {
    width: 100px;
}

.flying-panel>.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.flying-panel {
  background: var(--white);
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 63px;
  width: 100%;
  max-height: 388px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
}

.header-tools-opener {
    border-top: 1px solid black;
    -webkit-transition: all 3s cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition: all 3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    height: 20px;
    width: 100%;
    background: var(--dark);
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  }
  
  .header-tools-opener > .icon {
    color: var(--white);
  }
  
  .header-tools-opener:hover {
    background: black;
    cursor: pointer;
    -webkit-box-shadow: 0px 11px 133px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 133px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 133px -1px rgba(0, 0, 0, 0.75);
  }

  .before-table-header {
    background: var(--dark);
    color: var(--white) !important;
  }