<div *ngIf="disabled" class="disabled-lookup">
    {{disabledText()}}
</div>
<div *ngIf="array && !disabled" class="selector-container" (keyup.esc)="toggleOff()"
    (clickOutside)="onClickedOutside($event)" [clickOutsideEnabled]="!hidden" [clickOutsideEvents]="'mousedown'">
    <div>
        <div tabindex="0" (click)="toggleOn()" class="form-control ms-main-selector">
            <div class="ms-placeholder" *ngIf="!model || model.length === 0" [ngClass]="{'lookup-selector-sm': small}">
                {{placeholder}} </div>
            <div class="ms-box" [title]="textToShow(item)" *ngFor="let item of model">
                <div class="ms-box-text">{{textToShow(item)}}</div>
                <div class="remove-ms-box pull-right">
                    <fa-icon [icon]="faMinus" (click)="removeFromSelected(item)"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!hidden && filteredArray" class="selector-suggestions" [ngClass]="{
      'cut-long-text': cutLongText
    }">
        <ul>
            <li class="default-option">
                <input (keyup)="onKey()" maxlength="100" (keyup.backspace)="onKey()"
                    class="form-control form-control-sm ms-search" [(ngModel)]="searchText" placeholder="Search">
            </li>
            <li *ngIf="notSelectedArray.length === 0">
                Nothing to select
            </li>
            <li tabindex="0" class="selector-button btn-default" *ngFor="let item of filteredArray"
                [title]="textToShow(item)" (keyup.enter)="select(item)" (mousedown)="select(item)">
                {{textToShow(item)}}
            </li>
        </ul>
    </div>
</div>