<div [hidden]="isHidden" class="overlay mt-overlay modal fade" [ngClass]="{'show-modal': !this.isHidden}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div *ngFor="let pair of pairsToMove, let i = index" class="mt-row clearfix form-row">
                    <div class="mt-transition" [ngClass]="{
                            'col-sm-12': pairsToMove.length === 1,
                            'mt-field-horizontal': pairsToMove.length > 1
                           }">
                        <lookup-autocomplete class="mt-from" maxlength="1000" placeholder="Move from"
                            [propertiesToShow]="['name']" [array]="tests" [(model)]="pair.from">
                        </lookup-autocomplete>
                    </div>
                    <div class="mt-transition" [ngClass]="{
                          'col-sm-12': pairsToMove.length === 1,
                          'mt-icon-vertical': pairsToMove.length === 1,
                          'mt-icon-horizontal': pairsToMove.length > 1
                         }">
                        <fa-icon *ngIf="pairsToMove.length === 1" class="icon" [icon]="icons.faArrowDown"></fa-icon>
                        <fa-icon *ngIf="pairsToMove.length > 1" class="icon" [icon]="icons.faArrowRight"></fa-icon>
                    </div>
                    <div class="mt-transition" [ngClass]="{
                          'col-sm-12': pairsToMove.length === 1,
                          'mt-field-horizontal': pairsToMove.length > 1
                         }">
                        <lookup-autocomplete class="mt-to" maxlength="1000" placeholder="Move to"
                            [propertiesToShow]="['name']" [array]="tests" [(model)]="pair.to"></lookup-autocomplete>
                    </div>

                    <div class="mt-transition mt-icon-remove" [hidden]="pairsToMove.length === 1" (click)="remove(i)">
                        <fa-icon class="icon" [icon]="icons.faMinus"></fa-icon>
                    </div>
                </div>
                <div class="col-sm-12 mt-add-row" (click)="addRow()">
                    Move More
                    <fa-icon class="icon" [icon]="icons.faPlus"></fa-icon>
                </div>


                <div class="col-sm-12 modal-footer modal-buttons">
                    <div class="modal-buttons-form">
                        <button *ngFor="let button of buttons" type="button" autofocus
                            (click)="validatePairs(button.execute)" class="btn btn-sm btn-secondary" [ngClass]="{
                        'btn-secondary': !button.execute,
                        'btn-success': button.execute
                    }">{{button.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>