<div [hidden]="isHidden" class="overlay mt-overlay modal fade" [ngClass]="{'show-modal': !this.isHidden}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">Do not Show:</div>
                    <div class="col-sm-6">Show:</div>
                    <div id="hidden-columns" class="col-sm-6 me-drop-parent">
                        <ul class="col-sm-12 bg-light no-padding me-droppable mc-can-be-empty" [dragula]="'cols-bag'"
                            [(dragulaModel)]='newHiddenColumns'>
                            <li class="me-draggable" *ngFor="let hcol of newHiddenColumns">{{hcol.name}}</li>
                        </ul>
                    </div>
                    <div id="shown-columns" class="col-sm-6 me-drop-parent">
                        <ul class="col-sm-12 bg-light no-padding me-droppable" [dragula]="'cols-bag'"
                            [(dragulaModel)]='newShownColumns'>
                            <li [ngClass]="{ 
                            'mc-ignore-item':scol.name =='Action' || scol.name =='Selector'
                        }" class="me-draggable" *ngFor="let scol of newShownColumns">{{scol.name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 modal-footer modal-buttons">
                    <div class="modal-buttons-form">
                        <button *ngFor="let button of buttons" type="button" autofocus (click)="apply(button.execute)"
                            class="btn btn-sm btn-secondary" [ngClass]="{
                        'btn-secondary': !button.execute,
                        'btn-success': button.execute
                    }">{{button.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>